<%-include("partials/header");-%>

    <title>MANAGE | Thapar Amateur Astronomers Society</title>

    <!-- Local Stylesheet -->
    <link rel="stylesheet" href="css/home.css" />
  </head>

  <body>
    <video autoplay muted loop class="page-bg-video">
      <source src="starry-night.vid" type="video/mp4" />
    </video>

    <!-- Planets and Satellites -->
    <img class="half-moon" src="images/home/planets&satellites/moon.png" alt="half-moon" />
    <img class="small-moon1" src="images/home/planets&satellites/moon-sm.png" alt="small-moon" />
    <img class="medium-moon" src="images/home/planets&satellites/moon-md.png" alt="medium-moon" />
    <img class="small-moon2" src="images/home/planets&satellites/moon-sm.png" alt="small-moon" />
    <img class="rocket" src="images/home/planets&satellites/rocket.png" alt="rocket" />
    <img class="satellite" src="images/home/planets&satellites/satellite.png" alt="satellite" />
    <img class="moon absolute-horizontal-center" src="images/home/planets&satellites/moon.png" alt="moon" />

    <!-- Navbar -->
    <%-include("partials/navbar");-%>

    <!-- Title -->
    <section id="title" data-element="#title">
      <div class="page-heading">
        <h1>TAAS</h1>
        <h3 class="punch-line">A student's club dedicated to the love of space and astronomy</h3>
      </div>

      <img class="astronaut" src="images/home/planets&satellites/astronaut.png" alt="astronaut" />

      <div class="discover">
        <img src="images/home/title/paper-plane.png" alt="paper-plane" />
        <h3 class="gradient-text">Discover Today</h3>
        <h2>GALAXIES FROM FAR AWAY</h2>
        <p>Embark on an exciting journey with us as we explore what lies beyond our solar system.</p>
        <a href="https://www.youtube.com/watch?v=sMGpuaPxSbw" target="_blank" class="border-gradient-button default-transition">Watch Video</a>
      </div>

      <div class="end-box">
        <div class="line-in-box">
        </div>
      </div>
    </section>

    <!-- Vision -->
    <section id="vision" class="new-section">
      <div class="container-fluid">
        <div class="box-top">
          <div></div>
          <div></div>
        </div>

        <div class="row">
          <div class="vision-column col-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-offset="150">
            <span class="center-helper"></span>
            <img class="vision-img overlay-bright-img" src="images/home/vision/phone-vision.png" alt="vision-img" />
          </div>

          <div class="vision-column col-lg-6" data-aos="fade-left" data-aos-duration="800" data-aos-offset="150">
            <div class="vision-heading">
              <img class="heading-img" src="https://media.giphy.com/media/SsTQdt4iK9UezN178v/giphy.gif" alt="heading-img" />
              <h2 class="section-heading">OUR VISION</h2>
            </div>
            <h3>Explore the Cosmos with Science and Engineering</h3>
            <!-- <p>The main motive is to cultivate an environment where not only each group member is closely learning about the cosmos where we live in but also works towards spreading the gathered knowledge among the broader sections of soc<span
                class="vision-dots">...</span><span class="more-vision">iety around us. The working of the society is divided into two broad areas, namely the ‘in-house learning’ and ‘spreading scientific knowledge’.<br><br>These two objectives are
                accomplished by organizing both private and public meetings and events like workshops, quiz, expert lectures, trips for sky gazing, movie showcases and much more.</span><br /><br />
              <button onclick="readMoreVision()" type="button" class="white-pink-button default-transition">Read More</button>
            </p> -->
            <p>The main motive is to cultivate an environment where not only each group member is closely learning about the cosmos where we live in but also works towards spreading the gathered knowledge among the broader sections of society around us. The working of the society is divided into two broad areas, namely the ‘in-house learning’ and ‘spreading scientific knowledge’.</p>
            <a class="white-pink-button default-transition" href="/about">Read More</a>
          </div>
        </div>

        <div class="box-bottom">
          <div></div>
          <div></div>
        </div>
      </div>
    </section>

    <!-- Extraordinary -->
    <section id="extraordinary" class="new-section">
      <div class="extraordinary-heading">
        <img class="heading-img" src="https://media.giphy.com/media/1qhzDCa4vLooD8l1ML/giphy.gif" alt="heading-img" />
        <h2 class="section-heading">EXTRAORDINARY</h2>
      </div>

      <div class="extraordinary-img-heading">
        <a href="#extraordinary-content">
          <img class="extraordinary-img" src="images/home/extraordinary/extraordinary.jpg" alt="extraordinary-img" />
          <h3 class="absolute-horizontal-center">Something</h3>
          <h3 class="absolute-horizontal-center">About Space</h3>
          <i class="fas fa-caret-up fa-2x caret-up absolute-horizontal-center"></i>
        </a>
      </div>

      <div id="extraordinary-content" class="bg-image">
        <p>
          Spend sometime beneath the thousands of stars and you forget all your worries.<br><br>
          It’s a wealth greater than any wonder of this world-<br /><br />
          a “thing of beauty” perhaps?<br /><br />
          But it’s something more than that.<br /><br />
          A binding force that unites this primitive species-<br /><br />
          the concept of countries and race and all the selfishness cease to exist.<br /><br />
          A “humbling and character-building experience” perhaps?<br /><br />
          But, it still feels something more than that-<br /><br />
          it deserves more.
        </p>
        <p>Something so inspiring and profound..<br /><br />
          The fact that we are made of the same thing that makes the sun, saturn and sagittarius A,<br /><br />
          adds a new layer of meaning to our human lives.<br /><br />
          It strengthens the tenuous strand of our existence.<br /><br />
          It makes me say without any stammer<br /><br />
          and with all the confidence that i could ever gather<br /><br />
          that space is the next frontier.<br /><br />
        </p>
      </div>
      <img class="planet" src="images/planet.png" alt="planet">
    </section>

    <section id="events" class="new-section">
      <img class="spaceship" src="images/spaceship.png" alt="spaceship">

      <div class="events-heading">
        <img class="heading-img" src="https://media.giphy.com/media/eh1fUok5T96aLnr99A/giphy.gif" alt="heading-img">
        <h2 class="section-heading">OUR EVENTS</h2>
      </div>

      <div class="row events-row">
        <div class="events-column col-lg-4">
          <div class="card" data-aos="slide-up" data-aos-offset="120" data-aos-duration="800">
            <div class="card-body">
              <img class="absolute-horizontal-center default-transition" src="images/home/events/eureka.png" alt="eureka-img" />
              <div class="card-header flex">
                <div class="cost">
                  FREE
                </div>
                <i class="fas fa-microphone fa-3x transparent-icon"></i>
              </div>

              <h2 class="card-title">Eureka</h2>

              <p class="card-text">Eureka! Eureka! Eureka!</p>
            </div>

            <div class="events-description flex">
              <div class="date">
                <li>18</li>
                <li>MAY</li>
              </div>

              <li class="descr-content">In the winters, you’ll feel something bizarre is cooking. It makes you want to taste it but you’re worried you’ll get hooked.</li>

              <div class="time">
                <li>6:45</li>
                <li>PM</li>
              </div>
            </div>

            <a class="pink-green-button default-transition">REGISTER NOW</a>
          </div>
        </div>

        <div class="events-column col-lg-4">
          <div class="card" data-aos="slide-up" data-aos-offset="120" data-aos-duration="800">
            <div class="card-body">
              <img class="absolute-horizontal-center default-transition" src="images/home/events/aakash-ganga.png" alt="aakash-ganga-img" />
              <div class="card-header flex">
                <div class="cost">
                  FREE
                </div>
                <i class="fas fa-glass-cheers fa-3x transparent-icon"></i>
              </div>

              <h2 class="card-title">Aakash-Ganga</h2>

              <p class="card-text">It’s a celebration!</p>
            </div>

            <div class="events-description flex">
              <div class="date">
                <li>19</li>
                <li>MAY</li>
              </div>

              <li class="descr-content">Games, workshops, quizzes, competitions and cake parties, it’s a wholesome deal.</li>

              <div class="time">
                <li>4:45</li>
                <li>PM</li>
              </div>
            </div>

            <a class="pink-green-button default-transition">REGISTER NOW</a>
          </div>
        </div>

        <div class="events-column col-lg-4">
          <div class="card" data-aos="slide-up" data-aos-offset="120" data-aos-duration="800">
            <div class="card-body">
              <img class="absolute-horizontal-center default-transition" src="images/home/events/gd.png" alt="gd-img" />
              <div class="card-header flex">
                <div class="cost">
                  FREE
                </div>
                <i class="fas fa-users fa-3x transparent-icon"></i>
              </div>

              <h2 class="card-title">Group Discussions</h2>

              <p class="card-text">On all the things off-world</p>
            </div>

            <div class="events-description flex">
              <div class="date">
                <li>20</li>
                <li>MAY</li>
              </div>

              <li class="descr-content">Black holes, time-travel, conspiracy theories, good literature and Voila! we’ve got the very essence of our society.</li>

              <div class="time">
                <li>5:45</li>
                <li>PM</li>
              </div>
            </div>

            <a class="pink-green-button default-transition">REGISTER NOW</a>
          </div>
        </div>
      </div>

      <a href=""><button class="skewed-button default-transition"><div>Learn More<i class="fas fa-arrow-right"></i></div></button></a>
      <div class="skewed-line">
      </div>
    </section>

    <!-- Blog -->
    <section id="blog" class="new-section">
      <div class="blog-heading">
        <img class="heading-img" src="https://media.giphy.com/media/h3cETcpQu3dTkbISwr/giphy.gif" alt="heading-img" />
        <h2 class="section-heading">OUR BLOGS</h2>
      </div>

      <div id="blogCarouselIndicators" class="carousel blog-carousel slide" data-ride="carousel" data-interval="false" data-keyboard="true">
        <ol class="carousel-indicators">
          <li data-target="#blogCarouselIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#blogCarouselIndicators" data-slide-to="1"></li>
          <li data-target="#blogCarouselIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item blog-carousel-item active">
            <img src="images/home/blog/blog-img1.jpg" alt="blog-img1" />
            <div class="blog-content">
              <span class="time">
                UPDATED MAY 19, 2021
              </span>
              <h2>Astronomy For Beginners</h2>
              <h3>8 mins read</h3>
              <p>A night sky is a wonderful place, so familiar but so unknown. We humans have always been fascinated by the stars, planets, meteorites, comets, and much more.</p>
              <a class="black-pink-button default-transition">READ MORE</a>
            </div>
          </div>

          <div class="carousel-item blog-carousel-item">
            <img src="images/home/blog/blog-img2.jpg" alt="blog-img2" />
            <div class="blog-content">
              <span class="time">
                UPDATED MAY 20, 2021
              </span>
              <h2>‘Heartbeat’ of a black hole re-observed</h2>
              <h3>5 mins read</h3>
              <p>Scientists have confirmed the first-ever discovered ‘heartbeat’ of a black hole is still strong even after more than a decade of being first observed in 2007.</p>
              <a class="black-pink-button default-transition">READ MORE</a>
            </div>
          </div>

          <div class="carousel-item blog-carousel-item">
            <img src="images/home/blog/blog-img3.jpg" alt="blog-img3" />
            <div class="blog-content">
              <span class="time">
                UPDATED MAY 21, 2021
              </span>
              <h2>The Story Behind SpaceX Success</h2>
              <h3>6 mins read</h3>
              <p>Dragon, Falcon Heavy, Starlink are some well-known names. These are the Mainstream projects of SpaceX, a brainchild of the Entrepreneur Elon Musk.Dragon, Falcon Heavy, Starlink are some well-known names.</p>
              <a class="black-pink-button default-transition">READ MORE</a>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#blogCarouselIndicators" role="button" data-slide="prev">
          <div class="slide-button prev-button">
            <div>
            </div>
            <div>
              <span class="fas fa-angle-left fa-2x" aria-hidden="true"></span>
            </div>
          </div>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#blogCarouselIndicators" role="button" data-slide="next">
          <div class="slide-button next-button">
            <div>
            </div>
            <div>
              <span class="fas fa-angle-right fa-2x" aria-hidden="true"></span>
            </div>
          </div>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <a href=""><button class="skewed-button default-transition"><div>Learn More<i class="fas fa-arrow-right"></i></div></button></a>
      <div class="skewed-line">
      </div>
    </section>

    <!-- Solar System -->
    <div class="solar-system">
      <div class="layer layer1">
        <div class="circle circle1">
        </div>

        <div class="layer layer2">
          <div class="circle circle2">
          </div>

          <div class="layer layer3">
            <div class="circle circle3">
            </div>

            <div class="layer layer4">
              <div class="circle circle4">
              </div>

              <div class="layer layer5">
                <div class="circle circle5">
                </div>

                <div class="layer layer6">
                  <div class="circle circle6">
                  </div>

                  <div class="layer layer7">
                    <div class="circle circle7">
                    </div>

                    <div class="layer layer8">
                      <div class="circle circle8">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <img class="comet" src="images/home/planets&satellites/comet.png" alt="comet" />

    <!-- Get In Touch -->
    <section id="get-in-touch" class="new-section">
      <div class="in-touch-heading">
        <img class="heading-img" src="https://media.giphy.com/media/MYyMg2CLIVzugPIIBs/giphy.gif" alt="heading-img" />
        <h2 class="section-heading">GET IN TOUCH</h2>
      </div>
      <img class="in-touch-bg absolute-horizontal-center" src="images/home/get-in-touch/in-touch-bg.jpg" alt="in-touch-bg" />
      <p>From ‘the bottom of the ocean to the very end of this visible universe’, our family group aims to build together a community for all the science fanatics of our college. How strange would it be if you posted a random fact about black holes
        in the middle of the night, “cool” yes, but strange on a more primitive level. I’m kidding, we won’t judge.</p>

      <form onsubmit="controllSubmission(event);" class="in-touch-form" action="" method="post">
        <div class="row">
          <div class="form-group col-md-4">
            <label for="formYourName">Your Name</label>
            <input type="text" class="form-control transparent-input" id="formYourName" value="" title="" autocomplete="off" spellcheck="false" required/>
            <div class="unfocus-line"></div>
            <div class="focus-line default-transition"></div>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please provide a valid name.
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="formEmail">Your Email</label>
            <input type="email" class="form-control transparent-input" id="formEmail" value="" title="" autocomplete="off" spellcheck="false" aria-describedby="emailHelp" required/>
            <div class="unfocus-line"></div>
            <div class="focus-line default-transition"></div>
            <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please provide a valid email.
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="formPhone">Your Phone</label>
            <input type="text" class="form-control transparent-input" id="formPhone" value="" title="" autocomplete="off" spellcheck="false" />
            <div class="unfocus-line"></div>
            <div class="focus-line default-transition"></div>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please provide a valid phone number.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="formMessage">Your Message</label>
          <textarea class="form-control transparent-input" id="formMessage" rows="4" spellcheck="false"></textarea>
          <div class="unfocus-line"></div>
          <div class="focus-line default-transition"></div>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please write a valid message.
          </div>
        </div>

        <button class="pink-violet-button absolute-horizontal-center default-transition" type="submit">SEND MESSAGE</button>
      </form>
    </section>

    <!-- Contact-Us -->
    <%-include("partials/contact-us.ejs");%>

    <!-- Circular Progress Indicator -->
    <%-include("partials/circular-progress");-%>

    <!--

    <section id="extra">
      <h2>OTHER LINKS</h2>

      <div class="row extra-row">

        <div class="extra-column col-lg-3">
          <div class="card" data-aos="flip-up" data-aos-offset="200" data-aos-duration="1000">
            <img src="images/upcoming_events.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Our 365.25 Days Schedule</h5>
              <button type="button" name="button">Learn More<i class="fas fa-arrow-right"></i></button>
            </div>
          </div>
        </div>

        <div class="extra-column col-lg-3">
          <div class="card" data-aos="flip-down" data-aos-offset="200" data-aos-duration="1000">
            <img src="images/blog.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The News Which "Matters"</h5>
              <button type="button" name="button">Learn More<i class="fas fa-arrow-right"></i></button>
            </div>
          </div>
        </div>

        <div class="extra-column col-lg-3">
          <div class="card" data-aos="flip-down" data-aos-offset="200" data-aos-duration="1000">
            <img src="images/team.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The TEAM!</h5>
              <button type="button" name="button">Learn More<i class="fas fa-arrow-right"></i></button>
            </div>
          </div>
        </div>

        <div class="extra-column col-lg-3">
          <div class="card" data-aos="flip-up" data-aos-offset="200" data-aos-duration="1000">
            <img src="images/alumni.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hear It Out From Our Alumni!</h5>
              <button type="button" name="button">Learn More<i class="fas fa-arrow-right"></i></button>
            </div>
          </div>
        </div>

      </div>

    </section>

   -->

   <!-- Footer -->
    <%-include("partials/footer.ejs");-%>

    <!-- Local Script -->
    <script src="scripts/validate-form.js" charset="utf-8"></script>
    <script src="scripts/home.js" charset="utf-8"></script>

    <!-- AOS Script -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script type="text/javascript">
      AOS.init();   // AOS Initialization
    </script>
  </body>
</html>
